---
import { t, changeLanguage } from "i18next";
import Layout from "~/layouts/PageLayout.astro";
import Features2 from "~/components/widgets/Features2.astro";
import ContactUs from "~/components/widgets/Contact.astro";

changeLanguage("de");

const metadata = {
    title: t("contact.title"),
    description: t("contact.index-description")
};
---

<!-- Contact form ************** -->
<Layout metadata={metadata}>
    <ContactUs
        name="Contact form"
        target="/contact-success"
        title={t("contact.header")}
        subtitle={t("contact.form.subtitle")}
        inputs={[
            {
                type: "text",
                name: "name",
                label: t("contact.form.name", "Name")
            },
            {
                type: "email",
                required: true,
                name: "email",
                label: t("contact.form.email", "Email")
            }
        ]}
        textarea={{
            label: t("contact.form.message"),
            required: true,
            placeholder: t("contact.form.message-placeholder")
        }}
        disclaimer={{
            required: true,
            label: "contact.form.disclaimer"
        }}
        description={t("contact.form.description")}
        button={t("contact.form.submit")}
    />

    <!-- Contact details section ************** -->

    <Features2
        title={t("contact.methods.title")}
        subtitle={t("contact.methods.subtitle")}
        items={[
            {
                title: t("contact.email.title", "Email"),
                description: "contact@think-ahead.tech",
                icon: "tabler:mail"
            },
            {
                title: t("contact.videocall.title"),
                description: t("contact.videocall.description"),
                icon: "tabler:video",
                callToAction: {
                    variant: "link",
                    target: "_blank",
                    text: t("contact.videocall.booknow"),
                    href: "https://outlook.office365.com/owa/calendar/ThinkAheadTechnologies@think-ahead.tech/bookings/",
                    icon: "tabler:calendar"
                }
            },
            {
                title: t("contact.post.title"),
                description: "Lautenschlagerstraße 16, 70173 Stuttgart",
                icon: "tabler:map-pin"
            }
        ]}
    >
        <Fragment slot="bg">
            <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
        </Fragment>
    </Features2>
</Layout>
