---
import { t, changeLanguage } from "i18next";
import Layout from "~/layouts/PageLayout.astro";
import Hero from "~/components/widgets/Hero.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Features2 from "~/components/widgets/Features2.astro";
import { Trans } from "astro-i18next/components";

changeLanguage("en");

const metadata = {
    title: t("index.title"),
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline={t('index.splash.surtitle') || 'Error'}
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: t('contact.book') || "Error",
        href: 'https://outlook.office365.com/owa/calendar/ThinkAheadTechnologies@think-ahead.tech/bookings/',
        icon: 'tabler:calendar',
      },
      { text: t('index.learnmore') || "Error", href: '#solutions' },
    ]}
  >
    <Fragment slot="title">
      <Trans i18nKey="index.splash.title">Let's <span class="text-accent dark:text-white highlight">Think Ahead</span> together</Trans>
    </Fragment>

    <Fragment slot="subtitle">
      <Trans i18nKey="index.splash.subtitle">Pioneering <span class="font-semibold">secure</span>, <span class="font-semibold">simple</span> and <span class="font-semibold">effective</span> infrastructure solutions for the <span class="font-semibold">future of technology</span>.</Trans>
    </Fragment>

  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    id="about-us"
    title={t("whoweare.title") || "Error"}
    subtitle="A small team of passionate consultants, we leverage our wide range of industry experience to bring you the infrastructure solutions you need to make working with technology a joy, not a chore. We're used to working in large and small organisations, using Agile practices to implement solutions speedily but without compromise."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Discover the impressive impact of Astrowind"
    subtitle="The numbers below reflect the trust our users have placed in us and the remarkable outcomes we've helped them achieve."
    stats={[
      { title: 'Downloads', amount: '182K' },
      { title: 'Websites Launched', amount: '87' },
      { title: 'User Ratings', amount: '4.8' },
      { title: 'Satisfied Clients', amount: '116K' },
    ]}
  /> -->

  <!-- Brands Widget ****************** -->

  <!-- <Brands
    title="Partnerships & Collaborations"
    subtitle="At Astrowind, we believe in the power of collaboration to drive innovation and create exceptional experiences."
    icons={[]}
    images={[
      {
        src: 'https://image.com/something-something.png',
        alt: 'CompanyName',
      }
    ]}
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2
    id="solutions"
    title="What solutions do we provide?"
    subtitle="We have a wide range of skills and experience to help you with your infrastruture needs"
    items={[
      {
        title: 'Security & Compliance',
        description:
          `Secure software supply chain. Secure development practices. Container security. Cloud security. Kubernetes security. Zero-trust infrastructure access
          <div class="mt-2 font-bold highlight"><a href="/solutions/security">Learn more</a></div>`,
        icon: 'flat-color-icons:lock',
      },
      {
        title: 'Platform & Cloud',
        description:
          `Design and implementation of solutions on both public and private clouds. Site reliability engineering
          <div class="mt-2 font-bold highlight"><a href="/solutions/cloud">Learn more</a></div>`,
        icon: 'material-symbols:cloud',
      },
      {
        title: 'Training & Workshops',
        description:
          `Providing customer support for any technical issues related to the templates or their implementation.
          <div class="mt-2 font-bold highlight"><a href="/solutions/training">Learn more</a></div>`,
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features Widget *************** -->

  <!-- <Features
    id="features"
    title="Main features of our templates"
    subtitle="Possess several key characteristics to effectively cater to the needs of startups and entrepreneurs."
    columns={3}
    items={[
      {
        title: 'Modern and Professional Design',
        description:
          'Have a contemporary design that reflects current design trends and gives a professional impression.',
        icon: 'tabler:artboard',
      },
      {
        title: 'Compatibility',
        description: 'The templates work seamlessly across various content management systems and website builders.',
        icon: 'tabler:plug-connected',
      },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact us',
        href: '/contact',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">Get in touch</Fragment>

    <Fragment slot="subtitle">
      Let's discuss how we can help you build the infrastructure you want to work with!
    </Fragment>
  </CallToAction>
</Layout>
