---
import { t, changeLanguage } from "i18next";
import Layout from "~/layouts/PageLayout.astro";
import Hero from "~/components/widgets/Hero.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Features2 from "~/components/widgets/Features2.astro";
import { Trans } from "astro-i18next/components";
import { getRelativeLocaleUrl } from "astro:i18n";

changeLanguage("de");

const metadata = {
    title: t("index.title")
};
---

<Layout metadata={metadata}>
    <!-- Hero Widget ******************* -->

    <Hero
        tagline={t("index.splash.surtitle") || "Error"}
        actions={[
            {
                variant: "primary",
                target: "_blank",
                text: t("contact.book") || "Error",
                href: "https://outlook.office365.com/owa/calendar/ThinkAheadTechnologies@think-ahead.tech/bookings/",
                icon: "tabler:calendar"
            },
            { text: t("index.learnmore") || "Error", href: "#solutions" }
        ]}
    >
        <Fragment slot="title">
            <Trans i18nKey="index.splash.title"
                >Let's <span class="text-accent dark:text-white highlight">Think Ahead</span> together</Trans
            >
        </Fragment>

        <Fragment slot="subtitle">
            <Trans i18nKey="index.splash.subtitle"
                >Pioneering <span class="font-semibold">secure</span>, <span class="font-semibold">simple</span> and <span
                    class="font-semibold">effective</span
                > infrastructure solutions for the <span class="font-semibold">future of technology</span>.</Trans
            >
        </Fragment>
    </Hero>

    <!-- Features2 Widget ************** -->

    <Features2 id="about-us" title={t("whoweare.title") || "Error"} subtitle={t("whoweare.description") || "Error"}>
        <Fragment slot="bg">
            <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
        </Fragment>
    </Features2>

    <!-- Stats Widget ****************** -->

    <!-- <Stats
    title="Discover the impressive impact of Astrowind"
    subtitle="The numbers below reflect the trust our users have placed in us and the remarkable outcomes we've helped them achieve."
    stats={[
      { title: 'Downloads', amount: '182K' },
      { title: 'Websites Launched', amount: '87' },
      { title: 'User Ratings', amount: '4.8' },
      { title: 'Satisfied Clients', amount: '116K' },
    ]}
  /> -->

    <!-- Brands Widget ****************** -->

    <!-- <Brands
    title="Partnerships & Collaborations"
    subtitle="At Astrowind, we believe in the power of collaboration to drive innovation and create exceptional experiences."
    icons={[]}
    images={[
      {
        src: 'https://image.com/something-something.png',
        alt: 'CompanyName',
      }
    ]}
  /> -->

    <!-- Features2 Widget ************** -->

    <Features2
        id="solutions"
        title={t("solutions.intro") || "Error"}
        subtitle={t("solutions.subtitle") || "Error"}
        items={[
            {
                title: t("solutions.security.title") || "Error",
                description: t("solutions.security.description") || "Error",
                icon: "flat-color-icons:lock",
                callToAction: {
                    variant: "link",
                    text: "Learn more",
                    href: getRelativeLocaleUrl(Astro.currentLocale || "en", "/solutions/security"),
                    icon: "tabler:circle-arrow-right"
                }
            },
            {
                title: t("solutions.platform.title") || "Error",
                description: t("solutions.platform.description") || "Error",
                icon: "material-symbols:cloud",
                callToAction: {
                    variant: "link",
                    text: "Learn more",
                    href: getRelativeLocaleUrl(Astro.currentLocale || "en", "/solutions/platform"),
                    icon: "tabler:circle-arrow-right"
                }
            },
            {
                title: t("solutions.training.title") || "Error",
                description: t("solutions.training.description") || "Error",
                icon: "flat-color-icons:voice-presentation",
                callToAction: {
                    variant: "link",
                    text: "Learn more",
                    href: getRelativeLocaleUrl(Astro.currentLocale || "en", "/solutions/training"),
                    icon: "tabler:circle-arrow-right"
                }
            }
        ]}
    >
        <Fragment slot="bg">
            <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
        </Fragment>
    </Features2>

    <!-- Features Widget *************** -->

    <!-- <Features
    id="features"
    title="Main features of our templates"
    subtitle="Possess several key characteristics to effectively cater to the needs of startups and entrepreneurs."
    columns={3}
    items={[
      {
        title: 'Modern and Professional Design',
        description:
          'Have a contemporary design that reflects current design trends and gives a professional impression.',
        icon: 'tabler:artboard',
      },
      {
        title: 'Compatibility',
        description: 'The templates work seamlessly across various content management systems and website builders.',
        icon: 'tabler:plug-connected',
      },
    ]}
  /> -->

    <!-- CallToAction Widget *********** -->

    <CallToAction
        actions={[
            {
                variant: "primary",
                text: t("contact.title") || "Error",
                href: "/contact",
                icon: "tabler:mail"
            }
        ]}
    >
        <Fragment slot="title">{t("contact.letsconnect") || "Error"}</Fragment>

        <Fragment slot="subtitle">
            {t("contact.subtitle") || "Error"}
        </Fragment>
    </CallToAction>
</Layout>
