---
import { t, changeLanguage } from "i18next";
import Layout from "~/layouts/PageLayout.astro";
import Hero from "~/components/widgets/Hero.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Features2 from "~/components/widgets/Features2.astro";
import { Trans } from "astro-i18next/components";
import { getRelativeLocaleUrl } from "astro:i18n";
import Content from "~/components/widgets/Content.astro";
import { PRIMARY_LANGUAGE } from "~/i18n/utils";

changeLanguage("de");

const metadata = {
    title: t("index.title"),
    description: t("index.splash.description")
};
---

<Layout metadata={metadata}>
    <!-- Hero Widget ******************* -->

    <Hero
        tagline={t("index.splash.surtitle")}
        actions={[
            {
                variant: "primary",
                target: "_blank",
                text: t("contact.book"),
                href: "https://outlook.office365.com/owa/calendar/ThinkAheadTechnologies@think-ahead.tech/bookings/",
                icon: "tabler:calendar"
            },
            { text: t("index.learn-more"), href: "#solutions" }
        ]}
    >
        <Fragment slot="title">
            <Trans i18nKey="index.splash.title"
                >Let's <span class="text-accent dark:text-white highlight">Think Ahead</span> together</Trans
            >
        </Fragment>

        <Fragment slot="subtitle">
            <Trans i18nKey="index.splash.subtitle"
                >Pioneering <span class="font-semibold">secure</span>, <span class="font-semibold">simple</span> and <span
                    class="font-semibold">effective</span
                > infrastructure solutions for the <span class="font-semibold">future of technology</span>.</Trans
            >
        </Fragment>
    </Hero>

    <!-- Features2 Widget ************** -->

    <!-- <Features2 id="about-us" title={t("who-we-are.title")} subtitle={t("who-we-are.description")}>
        <Fragment slot="bg">
            <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
        </Fragment>
    </Features2> -->

    <!-- Features3 Widget ************** -->

    <!-- <Features3
     title={t("who-we-are.title")}
     subtitle={t("who-we-are.description")}
     columns={3}
     isBeforeContent={true}
     items={[
         {
             title: "Small team",
             description:
                 "Morbi faucibus luctus quam, sit amet aliquet felis tempor id. Cras augue massa, ornare quis dignissim a, molestie vel nulla.",
             icon: "tabler:template"
         },
         {
             title: "Broad experience",
             description:
                 "Vivamus porttitor, tortor convallis aliquam pretium, turpis enim consectetur elit, vitae egestas purus erat ac nunc nulla.",
             icon: "tabler:template"
         },
         {
             title: "Enthusiastic",
             description:
                 "Duis sed lectus in nisl vehicula porttitor eget quis odio. Aliquam erat volutpat. Nulla eleifend nulla id sem fermentum.",
             icon: "tabler:template"
         }
     ]}
 /> -->

    <!-- Content Widget **************** -->

    <Content
        isReversed
        items={[
            {
                title: t("index.who-we-are.accessible.title"),
                icon: "tabler:map-pin",
                description: t("index.who-we-are.accessible.description")
            },
            {
                title: t("index.who-we-are.experienced.title"),
                icon: "tabler:heart-handshake",
                description: t("index.who-we-are.experienced.description")
            },
            {
                title: t("index.who-we-are.enthusiastic.title"),
                icon: "tabler:device-desktop-heart",
                description: t("index.who-we-are.enthusiastic.description")
            }
        ]}
        image={{ src: "/cloud.jpg", alt: t("index.who-we-are.image-alt") }}
    >
        <Fragment slot="content">
            <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">{t("who-we-are.title")}</h3>
            {t("who-we-are.subtitle")}
        </Fragment>

        <Fragment slot="bg">
            <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
        </Fragment>
    </Content>

    <!-- Stats Widget ****************** -->

    <!-- <Stats
    title="Discover the impressive impact of Astrowind"
    subtitle="The numbers below reflect the trust our users have placed in us and the remarkable outcomes we've helped them achieve."
    stats={[
      { title: 'Downloads', amount: '182K' },
      { title: 'Websites Launched', amount: '87' },
      { title: 'User Ratings', amount: '4.8' },
      { title: 'Satisfied Clients', amount: '116K' },
    ]}
  /> -->

    <!-- Brands Widget ****************** -->

    <!-- <Brands
    title="Partnerships & Collaborations"
    subtitle="At Astrowind, we believe in the power of collaboration to drive innovation and create exceptional experiences."
    icons={[]}
    images={[
      {
        src: 'https://image.com/something-something.png',
        alt: 'CompanyName',
      }
    ]}
  /> -->

    <!-- Features2 Widget ************** -->

    <Features2
        id="solutions"
        title={t("solutions.intro")}
        subtitle={t("solutions.subtitle")}
        items={[
            {
                title: t("solutions.security.title"),
                description: t("solutions.security.description"),
                icon: "flat-color-icons:lock",
                callToAction: {
                    variant: "link",
                    text: t("index.learn-more"),
                    href: getRelativeLocaleUrl(Astro.currentLocale || "en", "/solutions/security"),
                    icon: "tabler:circle-arrow-right"
                }
            },
            {
                title: t("platform.title"),
                description: t("platform.description"),
                icon: "material-symbols:cloud",
                callToAction: {
                    variant: "link",
                    text: t("index.learn-more"),
                    href: getRelativeLocaleUrl(Astro.currentLocale || "en", "/solutions/platform"),
                    icon: "tabler:circle-arrow-right"
                }
            },
            {
                title: t("solutions.training.title"),
                description: t("solutions.training.description"),
                icon: "flat-color-icons:voice-presentation",
                callToAction: {
                    variant: "link",
                    text: t("index.learn-more"),
                    href: getRelativeLocaleUrl(Astro.currentLocale || "en", "/solutions/training"),
                    icon: "tabler:circle-arrow-right"
                }
            }
        ]}
    >
        <Fragment slot="bg">
            <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
        </Fragment>
    </Features2>

    <!-- Features Widget *************** -->

    <!-- <Features
    id="features"
    title="Main features of our templates"
    subtitle="Possess several key characteristics to effectively cater to the needs of startups and entrepreneurs."
    columns={3}
    items={[
      {
        title: 'Modern and Professional Design',
        description:
          'Have a contemporary design that reflects current design trends and gives a professional impression.',
        icon: 'tabler:artboard',
      },
      {
        title: 'Compatibility',
        description: 'The templates work seamlessly across various content management systems and website builders.',
        icon: 'tabler:plug-connected',
      },
    ]}
  /> -->

    <!-- CallToAction Widget *********** -->

    <CallToAction
        title={t("contact.header")}
        subtitle={t("contact.index-description")}
        actions={[
            {
                variant: "primary",
                text: t("contact.title"),
                href: `/${Astro.currentLocale || PRIMARY_LANGUAGE}/contact`,
                icon: "tabler:mail"
            }
        ]}
    />
</Layout>
