---
import { t, changeLanguage } from "i18next";
import Layout from "~/layouts/PageLayout.astro";
import Hero from "~/components/widgets/Hero.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Features2 from "~/components/widgets/Features2.astro";
import { Trans } from "astro-i18next/components";
import { getRelativeLocaleUrl } from "astro:i18n";
import Content from "~/components/widgets/Content.astro";
import { PRIMARY_LANGUAGE } from "~/i18n/utils";
import Brands from "~/components/widgets/Brands.astro";

changeLanguage("de");

const metadata = {
    title: t("index.title"),
    description: t("index.splash.description")
};
---

<Layout metadata={metadata}>
    <!-- Hero widget ******************* -->

    <Hero
        tagline={t("index.splash.surtitle")}
        actions={[
            {
                variant: "primary",
                target: "_blank",
                text: t("contact.book"),
                href: "https://outlook.office365.com/owa/calendar/ThinkAheadTechnologies@think-ahead.tech/bookings/",
                icon: "tabler:calendar"
            },
            { text: t("index.learn-more"), href: "#solutions" }
        ]}
    >
        <Fragment slot="title">
            <Trans i18nKey="index.splash.title"
                >Let's <span class="text-accent dark:text-white highlight">Think Ahead</span> together</Trans
            >
        </Fragment>

        <Fragment slot="subtitle">
            <Trans i18nKey="index.splash.subtitle"
                >Pioneering <span class="font-semibold">secure</span>, <span class="font-semibold">simple</span> and <span
                    class="font-semibold">effective</span
                > infrastructure solutions for the <span class="font-semibold">future of technology</span>.</Trans
            >
        </Fragment>
    </Hero>

    <!-- Who We Are section **************** -->

    <Content
        isReversed
        items={[
            {
                title: t("index.who-we-are.accessible.title"),
                icon: "tabler:map-pin",
                description: t("index.who-we-are.accessible.description")
            },
            {
                title: t("index.who-we-are.experienced.title"),
                icon: "tabler:heart-handshake",
                description: t("index.who-we-are.experienced.description")
            },
            {
                title: t("index.who-we-are.enthusiastic.title"),
                icon: "tabler:device-desktop-heart",
                description: t("index.who-we-are.enthusiastic.description")
            }
        ]}
        image={{ src: "/cloud-dall-e.jpg", alt: t("images.cloud") }}
    >
        <Fragment slot="content">
            <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">{t("who-we-are.title")}</h3>
            {t("who-we-are.subtitle")}
        </Fragment>

        <Fragment slot="bg">
            <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
        </Fragment>
    </Content>

    <!-- Solutoins section ************** -->

    <Features2
        id="solutions"
        title={t("solutions.intro")}
        subtitle={t("solutions.subtitle")}
        columns={3}
        items={[
            {
                title: t("cloud.title", "Cloud Computing"),
                description: t("cloud.subtitle"),
                icon: "material-symbols:cloud",
                callToAction: {
                    variant: "link",
                    text: t("index.learn-more"),
                    href: getRelativeLocaleUrl(Astro.currentLocale || "en", "/solutions/cloud"),
                    icon: "tabler:circle-arrow-right"
                }
            },
            {
                title: t("platform.title"),
                description: t("platform.description"),
                icon: "flat-color-icons:deployment",
                callToAction: {
                    variant: "link",
                    text: t("index.learn-more"),
                    href: getRelativeLocaleUrl(Astro.currentLocale || "en", "/solutions/platform"),
                    icon: "tabler:circle-arrow-right"
                }
            },
            {
                title: t("solutions.security.title"),
                description: t("solutions.security.description"),
                icon: "flat-color-icons:lock",
                callToAction: {
                    variant: "link",
                    text: t("index.learn-more"),
                    href: getRelativeLocaleUrl(Astro.currentLocale || "en", "/solutions/security"),
                    icon: "tabler:circle-arrow-right"
                }
            }
        ]}
    />

    <!-- Partners section *********** -->

    <Brands
        title={t("partners.title")}
        subtitle={t("partners.index-subtitle")}
        icons={[
            {
                name: "teleport-white",
                class: "dark-mode-only",
                title: t("partners.teleport.title", "Teleport"),
                href: getRelativeLocaleUrl(Astro.currentLocale || "en", "/partners#teleport")
            },
            {
                name: "teleport",
                class: "light-mode-only",
                title: t("partners.teleport.title", "Teleport"),
                href: getRelativeLocaleUrl(Astro.currentLocale || "en", "/partners#teleport")
            },
            {
                name: "microsoft",
                title: t("partners.microsoft.title", "Microsoft Azure"),
                href: getRelativeLocaleUrl(Astro.currentLocale || "en", "/partners#microsoft")
            }
        ]}
    >
        <Fragment slot="bg">
            <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
        </Fragment>
    </Brands>

    <!-- Contact Us widget *********** -->

    <CallToAction
        title={t("contact.header")}
        subtitle={t("contact.index-description")}
        actions={[
            {
                variant: "primary",
                text: t("contact.title"),
                href: `/${Astro.currentLocale || PRIMARY_LANGUAGE}/contact`,
                icon: "tabler:mail"
            }
        ]}
    />
</Layout>
