---
import { t, changeLanguage } from "i18next";
import Layout from "~/layouts/PageLayout.astro";
import Hero from "~/components/widgets/Hero.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Icon from "node_modules/astro-icon/components/Icon.astro";
import Features from "~/components/widgets/Features.astro";
import { getPagePermalink } from "~/utils/permalinks";

changeLanguage("de");

const metadata = {
    title: t("partners.title"),
    description: t("partners.splash")
};
---

<Layout metadata={metadata}>
    <!-- Hero widget ******************* -->

    <Hero
        tagline={t("partners.title")}
        title={t("partners.splash")}
        actions={[
            { text: t("partners.teleport.title", "Teleport"), href: "#teleport", variant: "primary" },
            { text: t("partners.microsoft.title", "Microsoft Azure"), href: "#microsoft", variant: "primary" }
        ]}
    />

    <!-- Teleport section *********** -->

    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2 flex items-center"></h3>
    <Features
        id="teleport"
        subtitle={t("partners.teleport.tagline")}
        columns={3}
        items={[
            {
                title: t("partners.what"),
                icon: "tabler:zoom-question",
                description: t("partners.teleport.who")
            },
            {
                title: t("partners.why"),
                icon: "tabler:star",
                description: t("partners.teleport.why")
            },
            {
                title: t("partners.us"),
                icon: "think-ahead",
                description: t("partners.teleport.us")
            }
        ]}
    >
        <Fragment slot="title">
            <a href="https://goteleport.com/" target="_blank" class="flex items-center justify-center">
                <Icon name="teleport" class="h-6 w-6 mr-3 light-mode-only" />
                <Icon name="teleport-white" class="h-6 w-6 mr-3 dark-mode-only" />
                {t("partners.teleport.title", "Teleport")}
                <Icon name="tabler:external-link" class="h-4 -ml-1" />
            </a>
        </Fragment>
    </Features>

    <!-- Microsoft section *********** -->

    <Features
        id="microsoft"
        subtitle={t("partners.microsoft.tagline")}
        columns={3}
        items={[
            {
                title: t("partners.what"),
                icon: "tabler:zoom-question",
                description: t("partners.microsoft.who")
            },
            {
                title: t("partners.why"),
                icon: "tabler:star",
                description: t("partners.microsoft.why")
            },
            {
                title: t("partners.us"),
                icon: "think-ahead",
                description: t("partners.microsoft.us")
            }
        ]}
    >
        <Fragment slot="title">
            <span class="flex items-center justify-center">
                <Icon name="microsoft" class="h-6 w-6 mr-3" />
                {t("partners.microsoft.title", "Microsoft Azure")}
            </span>
        </Fragment>
        <Fragment slot="bg">
            <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
        </Fragment>
    </Features>

    <!-- Contact Us widget *********** -->

    <CallToAction
        title={t("contact.header")}
        subtitle={t("contact.index-description")}
        actions={[
            {
                variant: "primary",
                text: t("contact.title"),
                href: getPagePermalink("/contact", Astro.currentLocale),
                icon: "tabler:mail"
            }
        ]}
    />
</Layout>
