---
import { Trans } from "astro-i18next/components";
import { t, changeLanguage } from "i18next";
import Content from "~/components/widgets/Content.astro";
import Hero from "~/components/widgets/Hero.astro";
import Stats from "~/components/widgets/Stats.astro";
import Layout from "~/layouts/PageLayout.astro";

changeLanguage("de");

const metadata = {
    title: t("who-we-are.title"),
    description: t("who-we-are.description")
};
---

<Layout metadata={metadata}>
    <!-- Hero Widget ******************* -->

    <Hero tagline={t("who-we-are.tagline")} subtitle={t("who-we-are.subtitle")}>
        <Fragment slot="title">
            <Trans i18nKey="who-we-are.splash">
                Text with <div class="text-accent dark:text-white highlight">emphasis</div>
            </Trans>
        </Fragment>
    </Hero>

    <!-- Our values ******************* -->

    <Content
        isReversed
        items={[
            {
                title: t("who-we-are.values.proactivity.title"),
                icon: "tabler:run",
                description: t("who-we-are.values.proactivity.description")
            },
            {
                title: t("who-we-are.values.learning.title"),
                icon: "fa:lightbulb-o",
                description: t("who-we-are.values.learning.description")
            },
            {
                title: t("who-we-are.values.trustworthiness.title"),
                icon: "material-symbols:handshake-outline",
                description: t("who-we-are.values.trustworthiness.description")
            },
            {
                title: t("who-we-are.values.cheerfulness.title"),
                icon: "material-symbols:sunny-outline-rounded",
                description: t("who-we-are.values.cheerfulness.description")
            }
        ]}
        image={{ src: "/finland.jpg", alt: t("who-we-are.values.image-alt") }}
    >
        <Fragment slot="content">
            <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
                {t("who-we-are.values.title")}
            </h3>
            {t("who-we-are.values.subtitle")}
        </Fragment>

        <Fragment slot="bg">
            <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
        </Fragment>
    </Content>

    <!-- Our impact ******************* -->

    <Content
        items={[
            {
                title: t("who-we-are.impact.productivity.title"),
                icon: "material-symbols:settings-heart",
                description: t("who-we-are.impact.productivity.description")
            },
            {
                title: t("who-we-are.impact.costs.title"),
                icon: "material-symbols:euro-symbol-rounded",
                description: t("who-we-are.impact.costs.description")
            },
            {
                title: t("who-we-are.impact.focus.title"),
                icon: "tabler:target-arrow",
                description: t("who-we-are.impact.focus.description")
            },
            {
                title: t("who-we-are.impact.adaptation.title"),
                icon: "material-symbols:deployed-code-history-outline",
                description: t("who-we-are.impact.adaptation.description")
            }
        ]}
        image={{
            src: "https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80",
            alt: t("who-we-are.impact.image-alt")
        }}
    >
        <Fragment slot="content">
            <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
                {t("who-we-are.impact.title")}
            </h3>
            {t("who-we-are.impact.subtitle")}
        </Fragment>

        <Fragment slot="bg">
            <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
        </Fragment>
    </Content>

    <!-- Stats Widget ****************** -->
    <Stats
        title={t("who-we-are.stats.title")}
        stats={[
            {
                title: t("who-we-are.stats.experience-years"),
                // 10 Waldemar (of 11 total) + 5 Martin (of 9 total)
                amount: "15"
            },
            {
                title: t("who-we-are.stats.cloud-providers"),
                amount: "7",
                icons: [
                    { icon: "aws", alt: "Amazon Web Services" },
                    { icon: "microsoftazure", alt: "Microsoft Azure" },
                    { icon: "googlecloud", alt: "Google Cloud Platform" },
                    { icon: "scaleway", alt: "Scaleway" },
                    { icon: "hetzner", alt: "Hetzner" },
                    { icon: "redhatopenshift", alt: "Red Hat OpenShift" },
                    { icon: "openstack", alt: "OpenStack" }
                    // also StackIt, but icon not freely available
                ]
            },
            // {
            //     title:"Fluent languages",
            //     amount: "3",
            //     icons: [
            //         "circle-flags:de",
            //         "circle-flags:en",
            //         "circle-flags:fr"
            //     ]
            // },
            {
                title: t("who-we-are.stats.industries.title"),
                amount: "8",
                icons: [
                    // Waldemar: retail, automotive, gaming, energy, public services
                    { icon: "tabler:shopping-bag", alt: t("who-we-are.stats.industries.retail") },
                    { icon: "tabler:car", alt: t("who-we-are.stats.industries.automotive", "Automotive") },
                    { icon: "tabler:device-gamepad-2", alt: t("who-we-are.stats.industries.gaming", "Gaming") },
                    { icon: "tabler:bolt", alt: t("who-we-are.stats.industries.energy") },
                    {
                        icon: "material-symbols:account-balance-outline-rounded",
                        alt: t("who-we-are.stats.industries.public")
                    },

                    // Martin: academic, insurance, consumer electronics, automotive again
                    { icon: "ph:graduation-cap", alt: t("who-we-are.stats.industries.academic") },
                    { icon: "tabler:report-money", alt: t("who-we-are.stats.industries.insurance") },
                    {
                        icon: "material-symbols:smartphone-outline",
                        alt: t("who-we-are.stats.industries.consumer-electronics")
                    }
                ]
            },
            {
                title: t("who-we-are.stats.countries.title"),
                amount: "4",
                icons: [
                    { icon: "circle-flags:de", alt: t("who-we-are.stats.countries.de") },
                    { icon: "circle-flags:en", alt: t("who-we-are.stats.countries.en") },
                    { icon: "circle-flags:ch", alt: t("who-we-are.stats.countries.ch") },
                    { icon: "circle-flags:at", alt: t("who-we-are.stats.countries.at") }
                ]
            }
        ]}
    />

    <!-- Features3 Widget ************** -->

    <!-- <Features3
        title="Our templates"
        subtitle="Etiam scelerisque, enim eget vestibulum luctus, nibh mauris blandit nulla, nec vestibulum risus justo ut enim. Praesent lacinia diam et ante imperdiet euismod."
        columns={3}
        isBeforeContent={true}
        items={[
            {
                title: "Educational",
                description:
                    "Morbi faucibus luctus quam, sit amet aliquet felis tempor id. Cras augue massa, ornare quis dignissim a, molestie vel nulla.",
                icon: "tabler:template"
            },
            {
                title: "Interior Design",
                description:
                    "Vivamus porttitor, tortor convallis aliquam pretium, turpis enim consectetur elit, vitae egestas purus erat ac nunc nulla.",
                icon: "tabler:template"
            },
            {
                title: "Photography",
                description:
                    "Duis sed lectus in nisl vehicula porttitor eget quis odio. Aliquam erat volutpat. Nulla eleifend nulla id sem fermentum.",
                icon: "tabler:template"
            }
        ]}
    /> -->

    <!-- Features3 Widget ************** -->

    <!-- <Features3
        columns={3}
        isAfterContent={true}
        items={[
            {
                title: "E-commerce",
                description:
                    "Rutrum non odio at vehicula. Proin ipsum justo, dignissim in vehicula sit amet, dignissim id quam. Sed ac tincidunt sapien.",
                icon: "tabler:template"
            },
            {
                title: "Blog",
                description:
                    "Nullam efficitur volutpat sem sed fringilla. Suspendisse et enim eu orci volutpat laoreet ac vitae libero.",
                icon: "tabler:template"
            },
            {
                title: "Business",
                description:
                    "Morbi et elit finibus, facilisis justo ut, pharetra ipsum. Donec efficitur, ipsum quis congue luctus, mauris magna.",
                icon: "tabler:template"
            },
            {
                title: "Branding",
                description:
                    "Suspendisse vitae nisi eget tortor luctus maximus sed non lectus. Cras malesuada pretium placerat. Nullam venenatis dolor a ante rhoncus.",
                icon: "tabler:template"
            },
            {
                title: "Medical",
                description:
                    "Vestibulum malesuada lacus id nibh posuere feugiat. Nam volutpat nulla a felis ultrices, id suscipit mauris congue. In hac habitasse platea dictumst.",
                icon: "tabler:template"
            },
            {
                title: "Fashion Design",
                description:
                    "Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus.",
                icon: "tabler:template"
            }
        ]}
        image={{
            src: "https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80",
            alt: "Colorful Image"
        }}
    /> -->

    <!-- Steps2 Widget ****************** -->

    <!-- <Steps2
        title="Our values"
        subtitle="Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus. Nulla facilisi. Vestibulum malesuada lacus."
        items={[
            {
                title: "Customer-centric approach",
                description:
                    "Donec id nibh neque. Quisque et fermentum tortor. Fusce vitae dolor a mauris dignissim commodo. Ut eleifend luctus condimentum."
            },
            {
                title: "Constant Improvement",
                description:
                    "Phasellus laoreet fermentum venenatis. Vivamus dapibus pulvinar arcu eget mattis. Fusce eget mauris leo."
            },
            {
                title: "Ethical Practices",
                description:
                    "Vestibulum imperdiet libero et lectus molestie, et maximus augue porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
            }
        ]}
    /> -->

    <!-- Steps2 Widget ****************** -->

    <!-- <Steps2
        title="Achievements"
        subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
        isReversed={true}
        callToAction={{
            text: "See more",
            href: "/"
        }}
        items={[
            {
                title: "Global reach",
                description:
                    "Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.",
                icon: "tabler:globe"
            },
            {
                title: "Positive customer feedback and reviews",
                description:
                    "Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.",
                icon: "tabler:message-star"
            },
            {
                title: "Awards and recognition as industry experts",
                description:
                    "Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.",
                icon: "tabler:award"
            }
        ]}
    /> -->

    <!-- Features2 Widget ************** -->

    <!-- <Features2
        title="Our locations"
        tagline="Find us"
        columns={4}
        items={[
            {
                title: "EE.UU",
                description: "1234 Lorem Ipsum St, 12345, Miami"
            },
            {
                title: "Spain",
                description: "5678 Lorem Ipsum St, 56789, Madrid"
            },
            {
                title: "Australia",
                description: "9012 Lorem Ipsum St, 90123, Sydney"
            },
            {
                title: "Brazil",
                description: "3456 Lorem Ipsum St, 34567, São Paulo"
            }
        ]}
    /> -->

    <!-- Features2 Widget ************** -->

    <!-- <Features2
        title="Technical Support"
        tagline="Contact us"
        columns={2}
        items={[
            {
                title: "Chat with us",
                description:
                    "Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.",
                icon: "tabler:messages"
            },
            {
                title: "Call us",
                description:
                    "Mauris faucibus finibus orci, in posuere elit viverra non. In hac habitasse platea dictumst. Cras lobortis metus a hendrerit congue.",
                icon: "tabler:headset"
            }
        ]}
    /> -->
</Layout>
