---
import { SITE } from "astrowind:config";
import { Image } from "astro:assets";
import logo from "~/assets/images/think-ahead.svg";

const style = {
    width: "2em",
    float: "left",
    top: "-0.35em",
    "margin-right": "0.2em",
    position: "relative"
};
---

<span
    class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
    <Image src={logo} style={style} alt="Think Ahead logo" />
    {SITE?.name}
</span>
