---
import { t, changeLanguage } from "i18next";
import Features2 from "~/components/widgets/Features2.astro";
import Hero from "~/components/widgets/Hero.astro";
import { PRIMARY_LANGUAGE } from "~/i18n/utils";
import Layout from "~/layouts/PageLayout.astro";

changeLanguage("de");

const metadata = {
    title: t("solutions.training.title"),
    description: t("solutions.training.description")
};
---

<Layout metadata={metadata}>
    <!-- Hero Widget ******************* -->

    <Hero tagline={t("solutions.training.title")} title={t("training.splash")} subtitle={t("training.subtitle")} />

    <!-- TODO add a section on why we're great teachers? -->

    <!-- Problems the client has (what we understand)

    How we can solve it

    Our approach / details -->

    <!-- Features2 Widget ************** -->

    <Features2
        title={t("training.courses")}
        subtitle={t("training.courses-subtitle")}
        columns={2}
        classes={{ container: "-mt-32" }}
        items={[
            {
                title: t("training.kubernetes.title"),
                description: t("training.kubernetes.subtitle"),
                icon: "kubernetes",
                callToAction: {
                    text: t("training.view-more"),
                    variant: "secondary",
                    href: `/${Astro.currentLocale || PRIMARY_LANGUAGE}/training/practical-kubernetes`,
                    icon: "material-symbols:navigate-next"
                }
            },
            {
                title: t("general.coming-soon"),
                description: t("training.coming-soon"),
                icon: "material-symbols:construction"
            }
        ]}
    />

    <!-- Content Widget **************** -->

    <!-- <Content
    isReversed
    items={[
      {
        title: 'High-Quality Designs',
        description:
          'Our templates feature top-tier designs that ensure a professional and polished appearance for your projects.',
        icon: 'tabler:wand',
      },
      {
        title: 'Customization Tools',
        description:
          'Tailor each template to your unique needs with user-friendly customization tools that let you personalize colors, fonts, and content.',
        icon: 'tabler:settings',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content> -->

    <!-- Content Widget **************** -->

    <!-- <Content
    isAfterContent
    items={[
      {
        title: 'Time Savings',
        description:
          'Streamline your workflow, enabling you to create stunning materials efficiently and allocate more time to your core tasks.',
        icon: 'tabler:clock',
      },
      {
        title: 'Instant Download',
        description:
          'Enjoy immediate access to your chosen templates upon purchase, enabling you to begin working on your projects without delay.',
        icon: 'tabler:file-download',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Benefits</h3>
    </Fragment>
  </Content> -->

    <!-- Testimonials Widget *********** -->

    <!-- <Testimonials
    title="Words from real customers"
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Emily Kennedy',
        job: 'Front-end developer',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      }
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  /> -->
</Layout>
